// Neutral Colors

$text-white: #fff;

$button-text: #fff;
$button-bg: #651FFF;
$button-hover: #6130cc;
$button-active: #401e8a;

$slider-bg: #FD7918;
$checkbox-border: #D3D3D3;

$external-login-label: #5A5761;
$list-item: #5A5761;

$shadow-color: #5A5761;

$sidebar-color: #651FFF;

// Light Mode

$label-color: #130F1C;
$list-header-color: #130F1C;
$input-bg: #FAFAFA;
$input-placeholder: #BAB9BD;
$input-text: rgba(24, 39, 58, 0.94);
$area-bg: #F3F3F5;
$button-logo-bg: #fff;
$form-background: #fff;
$page-background: #FAFAFA;
$slider-unchecked-bg: #E9E9E9;
$switch-text: #484848;
$checkbox-border: #D3D3D3;
$border-color: #ECECEE;
$link-color: #651FFF;
$link-hover: #602ecc;
$link-active: #401c8f;

// Dark Mode

// $label-color: #BAB9BD;
// $list-header-color: #99969E;
// $input-bg: #2E2A36;
// $input-placeholder: #99969E;
// $input-text: rgba(153, 150, 158, 0.94);
// $area-bg: #2E2A36;
// $button-logo-bg: #2E2A36;
// $form-background: #1F1B29;
// $page-background: #130F1C;
// $slider-unchecked-bg: #BAB9BD;
// $switch-text: #BAB9BD;
// $border-color: #635F6B;
// $link-color: #BAB9BD;
// $link-hover: #c5c0d4;
// $link-active: #e2dcf5;